#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    retries                 3
    maxconn                 3000
    
    timeout connect 5000ms
    timeout client 5000ms
    timeout server 5000ms

#---------------------------------------------------------------------
# setup stats endpoint
#---------------------------------------------------------------------
listen stats :1936
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth haproxy:{{ secrets.haproxy.password }}

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend main
    bind *:443
    default_backend      {{ haproxy.default }}

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
{% for backend in haproxy.backends %}
backend {{ backend.title }}
    balance roundrobin
    option httpchk GET {{ haproxy.health_check_url }}
    http-check expect status 200
    {% for server in backend.servers %}
        server {{ server.title }} {{ server.address }}:{{ server.port }} check check-ssl verify none port {{ haproxy.health_check_port }}
    {% endfor %}
{% endfor %}